{% extends 'web/base.html' %}

{% load static %}

{% load tags %}

{% load humanize %}

{% load thumbnail %}

{% block head_section %}

<meta name="title" content="Shop Men and Womens Luxury Fashion - Luxury Pioneer" />
<meta name="description" content="Buy premium replica products like men's watch,shoes, travel bags.buy women's handbags, shoes, watch, &  accessories. find the industry best replica products within affordable rates " />
<meta name="keywords" content="" />
<meta name="author" content="" />
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
<title>Shop Men and Womens Luxury Fashion - Luxury Pioneer</title>
<meta property="article:published_time" content="2022-11-26T12:27:00+05:30">
<meta property="article:modified_time" content="2022-11-26T12:27:00+05:30">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="products">
<meta property="og:title" content="Shop Men and Womens Luxury Fashion - Luxury Pioneer">
<meta property="og:description" content="Buy premium replica products like men's watch,shoes, travel bags.buy women's handbags, shoes, watch, &  accessories. find the industry best replica products within affordable rates">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Shop Men and Womens Luxury Fashion - Luxury Pioneer">
<meta name="twitter:description" content="Buy premium replica products like men's watch,shoes, travel bags.buy women's handbags, shoes, watch, &  accessories. find the industry best replica products within affordable rates">
<meta name="twitter:image" content="https://theluxurypioneer.com/static/assets/images/logos/luxury-pioneer.png">
<meta name='robots' content='index, follow' />
<style>
  .products-head {
    font-weight: 400;
    text-transform: capitalize;
    font-size: calc(12px + (18 - 15) * ((100vw - 320px)/(1920 - 320)));
    line-height: calc(22px + (26 - 22) * ((100vw - 320px)/(1920 - 320)));
    color: #262834;
    margin-bottom: calc(0px + (5 - 0) * ((100vw - 320px)/(1920 - 320)));
    overflow: hidden;
    white-space: nowrap;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    text-overflow: ellipsis;
  }

  .shop-page .product-tab-content .product-card .content-box h2 {
    font-size: 14px;
    margin-bottom: 3px;
  }
</style>

{% endblock head_section %}

{% block web_content %}

<!-- Main Start -->

<main class="main">

    <!-- Breadcrumb Start -->

    <div class="breadcrumb-wrap">

      <div class="banner">

        <!--<img class="bg-img bg-top" src="{% static 'assets/images/inner-page/banner-p.jpg' %}" alt="banner" />-->



        <div class="container-lg">

          <div class="breadcrumb-box">

            <div class="heading-box">

              <h1>Shop </h1>

            </div>

            <ol class="breadcrumb">

              <li><a href="{% url 'home' %}">Home</a></li>

              <li>

                <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>

              </li>

              <li class="current">Shop </li>

            </ol>

          </div>

        </div>

      </div>

    </div>

    <!-- Breadcrumb End -->



    <!-- Shop Section Start -->

    <section class="shop-page">

      <div class="container-lg">

        <div class="row gy-4 g-lg-3 g-xxl-4">

          <div class="col-4 col-xl-3 sidebar-controll sidebar-responsive">

            <div class="sidebar-inner sticky">

              <div class="back-box d-flex d-lg-none">

                <span>Back</span>

                <span><i data-feather="x"></i></span>

              </div>



              <div class="search-box reverse">

                <form action="{% url 'search_products' %}" method="GET">

                  <input class="form-control" type="search" name="search" {% if request.GET.search != None %} value="{{request.GET.search}}" {% endif %} placeholder="Search products..." />

                </form>

                <span class="search">

                  <i data-feather="search"></i>

                </span>

              </div>



              <div class="row gy-3 gx-0 g-lg-4">

                <div class="col-12">

                  <div class="sidebar-box">

                    <div class="title-box4">

                      <p class="heading">Filter <span class="bg-theme-blue"></span></p>

                    </div>

                    <form class="range-slider" action="{% url 'products' %}" method="GET">

                        <div class="price-input">

                          <div class="field">

                            <span>Min <strong><i class="fa fa-inr" aria-hidden="true"></i></strong></span>

                            <input class="form-control input-min" type="number" name="minprice" min="0" {% if request.GET.minprice != None %} value="{{request.GET.minprice}}" {% endif %} placeholder="Price" />

                          </div>

                          <div class="separator">-</div>

                          <div class="field">

                            <span>Max <strong><i class="fa fa-inr" aria-hidden="true"></i></strong></span>

                            <input class="form-control input-max" type="number" name="maxprice" min="0" {% if request.GET.maxprice != None %} value="{{request.GET.maxprice}}" {% endif %} placeholder="Price" />

                          </div>

                        </div>

                        <button type="submit" class="btn-solid btn-sm float-right">Apply</button>

                    </form>

                  </div>

                </div>



                {% for mc in cp_main_categories %}

                  <div class="col-12">

                    <div class="sidebar-box">

                      <div class="title-box4">

                        <p class="heading">{{ mc }} Categories <span class="bg-theme-blue"></span></p>

                      </div>

                      <ul class="catagories-side">

                        {% for c in mc.categories.all %}

                          <li>

                            <a href="{% url 'category_products' mc.slug c.slug %}">

                              <span>

                                <i data-feather="arrow-right"></i>

                                {{ c.name }}

                              </span>

                              <span class="notification">{{ c.product_set.count }}</span>

                            </a>

                          </li>

                        {% endfor %}

                      </ul>

                    </div>

                  </div>

                {% endfor %}



                <div class="col-12">

                  <div class="sidebar-box">

                    <div class="title-box4">

                      <p class="heading">Brands <span class="bg-theme-blue"></span></p>

                    </div>

                    <ul class="catagories-side">

                      {% for b in cp_brands %}

                        <li>

                          <a href="{% url 'main_brand_products' b.slug %}">

                            <span>

                              <i data-feather="arrow-right"></i>

                              {{ b.name }}

                            </span>

                            <span class="notification">{{ b.product_set.count }}</span>

                          </a>

                        </li>

                      {% endfor %}

                    </ul>

                  </div>

                </div>



              </div>

            </div>

          </div>



          <div class="col-lg-8 col-xl-9">

            <div class="row gy-5 g-lg-3 g-xxl-4">

              <div class="col-12 order-1 order-lg-2">

                <div class="shop-product">

                  <div class="top-header-wrap">

                    <button class="filter-btn btn-solid btn-sm mb-line d-flex d-lg-none">Filter <i class="arrow"></i></button>



                    <div class="grid-option-wrap">

                      <div class="select-options">

                        <div class="select-menu">

                          <form action="{% url 'products' %}" method="GET">

                            <select name='sort' id="sort" onchange="this.form.submit()" class="dropdown select-dropdown">

                              <option {% if request.GET.sort == '-created' %} selected {% endif %} value="-created">Date: New To Old</option>

                              <option {% if request.GET.sort == 'created' %} selected {% endif %} value="created">Date: Old To New</option>

                              <option {% if request.GET.sort == 'name' %} selected {% endif %} value="name">Alphabetical A-Z</option>

                              <option {% if request.GET.sort == '-name' %} selected {% endif %} value="-name">Alphabetical Z-A</option>

                              <option {% if request.GET.sort == '-price' %} selected {% endif %} value="-price">Price: High To Low</option>

                              <option {% if request.GET.sort == 'price' %} selected {% endif %} value="price">Price: Low To High</option>

                            </select>

                          </form>

                        </div>

                      </div>



                      <ul class="filter-option-grid d-none d-sm-flex">

                        <li class="nav-item d-none d-sm-flex">

                          <button class="nav-link" data-grid="2">

                            <img src="{% static 'assets/images/2.png' %}" width="18px" alt="icon" />

                          </button>

                        </li>

                        <li class="nav-item d-none d-sm-flex">

                          <button class="nav-link" data-grid="3">

                            <img src="{% static 'assets/images/3.png' %}" width="18px" alt="icon" />

                          </button>

                        </li>

                        <li class="nav-item d-none d-xl-flex">

                          <button class="nav-link active" data-grid="4">

                            <img src="{% static 'assets/images/4x4.png' %}" width="18px" alt="icon" />

                          </button>

                        </li>

                        <li class="nav-item d-none d-sm-flex">

                          <button class="nav-link" data-grid="list">

                            <img src="{% static 'assets/images/list.png' %}" width="18px" alt="icon" />

                          </button>

                        </li>

                      </ul>   

                    </div>

                  </div>



                  <div id="myproducts">

                      <div class="product-tab-content">

                          <div class="view-option row g-3 g-xl-4 ratio_asos row-cols-2 row-cols-sm-3 row-cols-xl-4 grid-section">

                              {% for p in products %}

                              <div class="product-card d-flex flex-column">

                                  <div class="img-box h-100">

                                  <!-- Thumbnail -->

                                      {% if p.images.count > 0 %}

                                          <a href="{% url 'product_details' p.slug %}"><img class="lazy" data-src="{{ p.images.all.first.cmp_image.url }}" alt="{{ p.images.all.first.alt }}" style="height: 100%; object-fit: cover;"></a>

                                      {% else %}

                                          <a href="{% url 'product_details' p.slug %}"><img class="lazy" data-src="{% static 'assets/images/lux.png' %}" alt="{{ p.name|unslug }}"  style="height: 100%; object-fit: cover;"/></a>

                                      {% endif %}

                                  </div>

                                  <!-- Content Box -->

                                  <div class="content-box">

                                  <a href="{% url 'product_details' p.slug %}">

                                      {% if p.brand != None %}

                                        <p>{{ p.brand }}</p>

                                      {% endif %}  

                                      <h2>{{ p.name|unslug  }}</h2>

                                      {% if p.sale_price != None %}

                                          <span><i class="fa fa-inr" aria-hidden="true"></i>{{ p.sale_price|intcomma }}</span> <del><i class="fa fa-inr" aria-hidden="true"></i>{{ p.price|intcomma }}</del>

                                      {% elif p.price != None %}

                                          <span><i class="fa fa-inr" aria-hidden="true"></i>{{ p.price|intcomma }}</span>

                                      {% endif %}

                                  </a>

                                  <a href="{% url 'product_details' p.slug %}" class="btn btn-solid btn-sm mb-line addtocart-btn">View Details<i class="arrow"></i> </a>

                                  </div>

                              </div>

                              {% empty %}

                              <img src="{% static 'assets/images/no-product-found.png' %}" alt="No Products">    

                              {% endfor %}

                          </div>

                      </div>

                      {% if products.has_other_pages %}

                      <div class="pagination-wrap justify-content-center luxurymain">

                          <ul class="pagination">

                          {% if products.has_previous %}

                              <li><a class="prev" href="{% url 'paged_products' products.previous_page_number %}{% if request.GET.sort is not None %}?sort={{request.GET.sort}}{% endif %}{% if request.GET.minprice is not None %}?minprice={{request.GET.minprice}}{% endif %}{% if request.GET.maxprice is not None %}&maxprice={{request.GET.maxprice}}{% endif %}">&laquo;</a></li>

                          {% endif %}

                          {% for i in products.adjusted_elided_pages  %}

                              {% if products.paginator.ELLIPSIS == i %}

                                  <li><a>{{ i }}</a></li>

                              {% else %}

                                  {% if products.number == i %}

                                      <li><a class="active" rel="canonical" href="{{ request.build_absolute_uri }}">{{ i }}</a></li>

                                  {% else %}

                                      <li><a href="{% url 'paged_products' i %}{% if request.GET.sort is not None %}?sort={{request.GET.sort}}{% endif %}{% if request.GET.minprice is not None %}?minprice={{request.GET.minprice}}{% endif %}{% if request.GET.maxprice is not None %}&maxprice={{request.GET.maxprice}}{% endif %}">{{ i }}</a></li>

                                  {% endif %}

                              {% endif %} 

                          {% endfor %}

                          {% if products.has_next %}

                              <li><a class="next" href="{% url 'paged_products' products.next_page_number %}{% if request.GET.sort is not None %}?sort={{request.GET.sort}}{% endif %}{% if request.GET.minprice is not None %}?minprice={{request.GET.minprice}}{% endif %}{% if request.GET.maxprice is not None %}&maxprice={{request.GET.maxprice}}{% endif %}">&raquo;</a></li>

                          {% endif %}

                          </ul>

                      </div>

                      {% endif %}

                      

                  </div>

           

              </div>

            </div>

          </div>

        </div>

      </div>

    </section>        


    <section class="special-product pb-0 wow-section-overflow" style=" padding-top: 45px;">
      <div class="container-lg" style=" padding-bottom: 45px;">
        <div class="title-box7">
            <h2 class="heading seo">Discover  <span>First Copy Luxurious Products For Men and Women </span></h2>
            <p class="listingp">Fashion doesn't see age, whether it be a man or a woman. You can choose to look stylish at any point in your life. We wholeheartedly believe this and that's why we have stocks of the <b>best luxury replica</b> items for all. Want to look effortless? Try our range of <b>luxury replica sunglasses</b>.  Adding just a hint of luxury design to your wardrobe just elevates your whole look. That's why we bring you different types of luxury items to splurge on!</p>
        </div>

        <div class="title-box7">
            <h2 class="heading seo">Explore  A Wide Range Of   <span>Luxury Replica Items At The Best Price</span></h2>
            <p class="listingp">Looking for some <a href="/women/bags">high-end designer bags</a>, accessories, and shoes? Luxury Pioneer is the one-stop shop for the best <a href="/men">luxury replica products for men</a> and women. Are you searching for a <b>Louis Vuitton belt replica?</b> We have it. Do you want a Dior sling bag premium replica? We have it too. From sunglasses to wallets to different kinds of sandals like platform sandals, we have it all. And these are just some of the first copy replicas we are talking about. We have more to offer on our <b>Luxury Pioneer website</b>, and we gladly welcome you to our online store. </p>
        </div>

        <div class="title-box7">
            <h2 class="heading seo">Best Quality Handbags :<span> Sling Bags, Totes, And More </span></h2>
            <p class="listingp">Whether you like totes, classic sling bags, or satchel bags, we have it all. You are a fan of the oversized Dior tote your favorite influencer and celebrities are sporting? Do you want to sport it for your casual brunch dates with your girl group? Our exquisite collection of <a href="/women">first copy totes for women</a> is sure to quench your fashionista self! We know how pairing a gorgeous designer bag with your outfit just upgrades your look so much! That's why we have made sure to have a stunning collection of <a href="/women/bags/handbags">the best-quality luxury replica handbags</a> for a person of your caliber.</p>
        </div>

        <div class="title-box7">
            <h2 class="heading seo">Explore Premium Replicas Of <span> Luxury Belts, Shoes, And More</span></h2>
            <p class="listingp">Our store is meant for all. We not only stock sandals and belts, but we also have <b>premium quality Louis Vuitton replica men's luggage.</b> Are you surprised? Don't be. We make sure you still look stylish while you are traveling. We have everything from the first copy of Louis Vuitton duffle luggage bags to take on your airplane, to carry-on luggage to show how cool your fashion sense is! We are here to see that you stand out from the crowd! But not only that, but we also have a <b>premium quality first copy belts</b> that you can pair along to match with your luggage! Isn't that cool? Now that you have matched your belts, why not match your shoes? We have a vast array of best quality replica sports shoes so that you walk the smoothest walk you ever would! </p>
        </div>

        <div class="title-box7">
            <h2 class="heading seo">Become A Fashionista With<span>  Luxurious Replica Products From Luxury Pioneer  </span></h2>
            <p class="listingp">Luxury Pioneer offers you the <b>best quality replica items.</b> Our replicas are so on point that you won't be able to differentiate only! From <b>best replica belts</b> to <a href="/men/watches">premium replica watches,</a> everything is crafted with the best quality raw materials. Quality with affordability is our motto and that's why our customers love us. What you get in lakhs, you'll get in thousands, with the best quality. So shop happily at Luxury Pioneer and give us a chance to make you more fashionable!</p>
        </div>
      </div>
    </section>                                                      

</main>

{% endblock web_content %}