{% extends 'cms/base.html' %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Settings</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'cms_home' %}">Home</a></li>
                            <li class="breadcrumb-item active">Settings</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="mr-auto p-2"> 
                                    <h4 class="card-title">Settings</h4>
                                </div>
                            </div>
                            <div class="col-3 text-right">
                                <a href="{% url 'cms_change_settings' %}" class="btn btn-primary"><i class="bx bx-cog font-size-16 align-middle mr-2"></i>Change Settings</a>
                            </div>
                        </div>
                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Whatsapp Phone</th>
                                <th>Marquee</th>
                                <th>Address</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for i in settings %}
                                <tr>
                                    <td>{{ i.email }}</td>
                                    <td>{{ i.phone }}</td>
                                    <td>{{ i.whatsapp_phone }}</td>
                                    <td>{{ i.marquee }}</td>
                                    <td>{{ i.address }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>   
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
        
    </div> <!-- container-fluid -->
</div>
{% endblock content %}