{% load static %}  
<head>  
    <meta charset="utf-8" />
    <title>Luxury Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Luxury" name="description" />
    <meta content="Luxury" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'cms/images/favicon.png' %}">
    <!-- Plugins css -->
    <!-- Bootstrap Css -->
    <link href="{% static 'cms/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'cms/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'cms/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <link href="{% static 'cms/css/style.css' %}" id="app-style" rel="stylesheet" type="text/css" />
</head> 