{% load static %}
<script src="{% static 'cms/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'cms/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'cms/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'cms/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'cms/libs/node-waves/waves.min.js' %}"></script>

<script src="{% static 'cms/js/pages/dashboard.init.js' %}"></script>                                           
<!-- Plugins js -->
{% comment %} <script src="{% static 'assets/libs/dropzone/min/dropzone.min.js' %}"></script> {% endcomment %}
<!-- App js -->
<script src="{% static 'cms/js/app.js' %}"></script>