  <div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" key="t-menu">Menu</li>

        <li>
            <a href="{% url 'cms_home' %}" class="waves-effect">
                <i class="bx bx-home-circle"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'cms_users' %}" class="waves-effect">
                <i class="bx bx-user"></i>
                <span>Users</span>
            </a>
        </li>
        <li>
            <a href="{% url 'cms_customers' %}" class="waves-effect">
                <i class="bx bx-user"></i>
                <span>Customers</span>
            </a>
        </li>
        {% comment %} <li>
            <a href="{% url 'cms_categories' %}" class="waves-effect">
                <i class="bx bx-layout"></i>
                <span>Categories</span>
            </a>
        </li> {% endcomment %}
        <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-food-menu"></i>
                <span>Campaign Manager</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'cms_banners' %}">Banners</a></li>
                <li><a href="{% url 'cms_campaigns' %}">Campaigns</a></li>
            </ul>
        </li>
        
        <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-grid"></i>
                <span>Catalogue</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'cms_brands' %}">Brands</a></li>
                <li><a href="{% url 'cms_brand_contents' %}">Brand Contents</a></li>
                <li><a href="{% url 'cms_tags' %}">Tags</a></li>
            </ul>
        </li>
        
        <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-list-ul"></i>
                <span>Category Manager</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'cms_main_categories' %}">Main Categories</a></li>
                <li><a href="{% url 'cms_categories' %}">Categories</a></li>
                <li><a href="{% url 'cms_subcategories' %}">Subcategories</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-store"></i>
                <span>Product Manager</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'cms_products' %}">Products</a></li>
                <li><a href="{% url 'cms_attributes' %}">Attributes</a></li>
            </ul>
        </li>

        <li>
            <a href="{% url 'cms_cart' %}" class="waves-effect">
                <i class="bx bx-cart"></i>
                <span>Cart</span>
            </a>
        </li>
        
        <li>
            <a href="{% url 'cms_orders' %}" class="waves-effect">
                <i class="bx bx-food-menu"></i>
                <span>Orders</span>
            </a>
        </li>
        
        <li>
            <a href="{% url 'cms_blogs' %}" class="waves-effect">
                <i class="bx bx-detail"></i>
                <span>Blogs</span>
            </a>
        </li>
        
        <li>
            <a href="{% url 'cms_newsletters' %}" class="waves-effect">
                <i class="bx bx-detail"></i>
                <span>Newsletters</span>
            </a>
        </li>

        <li>
            <a href="{% url 'cms_gallery' %}" class="waves-effect">
                <i class="bx bx-detail"></i>
                <span>Gallery</span>
            </a>
        </li>

        <li>
            <a href="{% url 'cms_integrations' %}" class="waves-effect">
                <i class="bx bx-detail"></i>
                <span>Integrations</span>
            </a>
        </li>

        <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-detail"></i>
                <span>Miscellaneous</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'cms_misc_robots' %}">Robots</a></li>
            </ul>
        </li>
        
        <li>
            <a href="{% url 'cms_settings' %}" class="waves-effect">
                <i class="bx bx-cog"></i>
                <span>Settings</span>
            </a>
        </li>

        {% comment %} <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="bx bx-layout"></i>
                <span key="t-layouts">Layouts</span>
            </a>
            <ul class="sub-menu" aria-expanded="true">
                <li>
                    <a href="javascript: void(0);" class="has-arrow" key="t-vertical">Vertical</a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="layouts-light-sidebar.html" key="t-light-sidebar">Light Sidebar</a></li>
                        <li><a href="layouts-compact-sidebar.html" key="t-compact-sidebar">Compact Sidebar</a></li>
                        <li><a href="layouts-icon-sidebar.html" key="t-icon-sidebar">Icon Sidebar</a></li>
                        <li><a href="layouts-boxed.html" key="t-boxed-width">Boxed Width</a></li>
                        <li><a href="layouts-preloader.html" key="t-preloader">Preloader</a></li>
                        <li><a href="layouts-colored-sidebar.html" key="t-colored-sidebar">Colored Sidebar</a></li>
                        <li><a href="layouts-scrollable.html" key="t-scrollable">Scrollable</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow" key="t-horizontal">Horizontal</a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="layouts-horizontal.html" key="t-horizontal">Horizontal</a></li>
                        <li><a href="layouts-hori-topbar-light.html" key="t-topbar-light">Topbar light</a></li>
                        <li><a href="layouts-hori-boxed-width.html" key="t-boxed-width">Boxed width</a></li>
                        <li><a href="layouts-hori-preloader.html" key="t-preloader">Preloader</a></li>
                        <li><a href="layouts-hori-colored-header.html" key="t-colored-topbar">Colored Header</a></li>
                        <li><a href="layouts-hori-scrollable.html" key="t-scrollable">Scrollable</a></li>
                    </ul>
                </li>
            </ul>
        </li> {% endcomment %}

        {% comment %} <li class="menu-title" key="t-apps">Apps</li> {% endcomment %}

    </ul>
</div>