{% extends 'web/base.html' %}
{% load static %}
{% block head_section %}
<title>Returns and Exchange</title>
<meta name='robots' content='index, follow' />
{% endblock head_section %}
{% block web_content %}
<!-- Main Start -->
<main class="main title-element">
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="banner">
      <img class="bg-img bg-top" src="{% static 'assets/images/inner-page/banner-p.jpg' %}" alt="banner" />

      <div class="container-lg">
        <div class="breadcrumb-box">
          <div class="heading-box">
            <h1>Returns and Exchange</h1>
          </div>
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home </a></li>
            <li>
              <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
            </li>

            <li class="current"><a href="#">Returns and Exchange</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- About Us Section Start -->
  <section class="about-section">
    <div class="container-lg">
      <div class="row g-0 g-lg-4 g-xl-5">
        <div class="col-lg-12 order-2 order-lg-1">
          <div class="align-ment">
            <div class="contenten-wrap">
              <div class="content-box">
                <h5>RETURNS AND EXCHANGE</h5>

                <p>WHAT IS Luxury Pioneer RETURN AND EXCHANGE POLICY? HOW DOES IT WORK?</p>
                
                <p>Luxury Pioneer RETURNS AND EXCHANGE POLICY GIVES YOU THE OPTION TO RETURN OR EXCHANGE ITEMS PURCHASED ON FASHLUXEE FOR ANY REASON WITHIN THE SPECIFIED RETURN/EXCHANGE PERIOD ( WITHIN 7 WORKING DAYS). WE ONLY ASK THAT YOU DON’T USE THE PRODUCT AND PRESERVE ITS ORIGINAL CONDITION, TAGS, AND PACKAGING.</p>

                <P>SELF-SHIP: WILL CREDIT THE SHIPPING COSTS IN THE FORM OF FASHLUXEE CREDITS PROVIDED THE PRODUCT MEETS THE RETURN POLICY AND YOU HAVE SHARED SCAN COPY OF THE COURIER RECEIPT WITH US.</P>

                <P>REFUND WILL BE INITIATED AFTER THE PRODUCT HAS BEEN RECEIVED AT OUR WAREHOUSE AND HAS PASSED A QUALITY CHECK. IF THE PICKED UP PRODUCT DOES NOT PASS THE QUALITY CHECK, WE SHALL SHIP IT BACK TO YOU. IF YOU CHOOSE TO EXCHANGE THE ITEM FOR REASON OF MISMATCH OF SIZE OR RECEIPT OF A DEFECTIVE ITEM, YOU WILL BE PROVIDED WITH A REPLACEMENT OF THE ITEM, FREE OF COST. HOWEVER, ALL EXCHANGES ARE SUBJECT TO STOCK AVAILABILITY. PLEASE NOTE THAT WE ARE ONLY ABLE TO OFFER SIZE EXCHANGES.</P>

                <P>SOME PRODUCTS LIKE FINE JEWELLERY, WATCHES, AND SELECTED PRODUCTS WHICH ARE SUSCEPTIBLE TO DAMAGE CAN ONLY BE RETURNED/EXCHANGED FOR A LIMITED NUMBER OF DAYS.WITHIN 7 WORKING DAYS PRODUCT CAN BE RETURNED/EXCHANGED, POST-DELIVERY.</p>

                <p>ALL ITEMS TO BE RETURNED OR EXCHANGED MUST BE UNUSED AND IN THEIR ORIGINAL CONDITION WITH ALL ORIGINAL TAGS AND PACKAGING INTACT (FOR E.G. SHOES MUST BE PACKED IN THE ORIGINAL SHOE BOX).</p>

                <p>UNDER EXCHANGE POLICY, ONLY SIZE EXCHANGES ARE ALLOWED. ITEMS CAN BE EXCHANGED FOR A SIMILAR SIZE OR A DIFFERENT SIZE.,</p>

                <p>FASHLUXEE WILL NOT BE LIABLE FOR THE PRODUCTS RETURNED BY MISTAKE. IN CIRCUMSTANCES WHERE AN EXTRA OR A DIFFERENT PRODUCT IS RETURNED BY MISTAKE, FASHLUXEE WOULD NOT BE ACCOUNTABLE FOR MISPLACEMENT OR REPLACEMENT OF THE PRODUCT AND IS NOT RESPONSIBLE FOR ITS DELIVERY BACK TO THE USER IF YOU SELF-SHIP YOUR RETURNS, KINDLY PACK THE ITEMS SECURELY TO PREVENT ANY LOSS OR DAMAGE DURING TRANSIT. FOR ALL SELF-SHIPPED RETURNS, WE RECOMMEND YOU USE A RELIABLE COURIER SERVICE. RECOMMENDED COURIER SERVICES-BLUE DART, FEDEX, DTDC.</p>

              <p>IF YOU SELF-SHIP YOUR RETURNS, YOUR SHIPPING COSTS WOULD BE REIMBURSED SUBJECT TO YOUR RETURN HAVING MET OUR RETURNS AND EXCHANGE POLICY AND THE IMAGE OF THE COURIER RECEIPT IS SHARED BY YOU AND VALIDATED BY US. FOR SELF SHIP RETURNS THE REFUND FOR RETURNED PRODUCTS WILL ONLY BE INITIATED IF THEY PASS THROUGH A QUALITY CHECK CONDUCTED AT THE WAREHOUSE. IF THE QUALITY CHECK FAILS THE PRODUCT WILL BE RESHIPPED BACK TO YOU. TO RETURN A PRODUCT TO FASHLUXEE, PLEASE FOLLOW THESE STEPS:</p>

              <p>YOU CAN RETURN PRODUCTS PURCHASED FROM FASHLUXEE WITHIN THE SPECIFIED RETURN/EXCHANGE PERIOD I.E. WITHIN 7 WORKING DAYS, EXCEPT FOR OUR NON-RETURNABLE PRODUCTS AND HIGH-VALUE PRODUCTS WHICH CAN ONLY BE RETURNED FOR LIMITED NUMBER OF DAYS.</p>

              <p>1. CREATE A ‘RETURN REQUEST’ UNDER “MY ORDERS” SECTION.</p>
              <p>2.  FOLLOW THE SCREENS THAT COME UP AFTER TAPPING ON THE ‘RETURN’ BUTTON.</p>
              <p>3.  PLEASE MAKE A NOTE OF THE RETURN ID THAT WE GENERATE AT THE END OF THE PROCESS.</p>
              <p>4. SHIP IT TO US BASIS ON THE RETURN MODE</p>

              <p>SELF-SHIP THE PRODUCT TO US, PLEASE PLACE THE PRODUCT IN A PACKET AND THE PRODUCT MUST BE UNUSED, UNWASHED AND ALL THE TAGS ARE INTACT. A FURTHER QUALITY CHECK OF THE PRODUCT WILL BE CONDUCTED AT OUR RETURNS DESK.</p>

              <p>WE WILL SEND YOU A CONFIRMATION EMAIL AS SOON AS WE RECEIVE THE SHIPMENT AT OUR WAREHOUSE.</p>

              <p>PLACE THE PRODUCT IN A PACKET BUT DO NOT SEAL IT. PLEASE ENSURE PRODUCT IS UNUSED, UNWASHED WITH ALL THE TAGS INTACT.</p>

              <h4>WHY HAS MY RETURN BEEN PUT ON HOLD DESPITE NO QUESTIONS ASKED RETURNS POLICY?</h4>

              <p>AT THE TIME OF CREATING A RETURN, CUSTOMERS ARE REQUESTED TO CONFIRM (VIA A CHECKBOX CLICK) THAT THE PRODUCT BEING RETURNED IS UNUSED WITH ORIGINAL TAGS INTACT. AT THE TIME OF PICKUP, IF THE ABOVE CONDITIONS ARE NOT FOUND TO BE MET, YOUR RETURN MAY BE PUT ON HOLD PENDING FURTHER CLARIFICATION WITH OUR CONTACT CENTER.</p>

              <p>HOW LONG WOULD IT TAKE ME TO RECEIVE THE REFUND OF THE RETURNED PRODUCT?</p>

              <p>AFTER THE REFUND HAS BEEN INITIATED BY FASHLUXEE AS PER THE RETURNS POLICY, THE REFUND AMOUNT IS EXPECTED TO REFLECT IN THE CUSTOMER ACCOUNT AS PER THE FOLLOWING TIMELINES:</p>

              <p>NEFT – 1 TO 3 BUSINESS DAYS POST REFUND INITIATION</p>
              <p>FASHLUXEE CREDIT – INSTANT</p>
              <p>ONLINE REFUND – 7 TO 10 DAYS POST REFUND INITIATION, DEPENDING ON YOUR BANK PARTNER</p>

              <h4>IT SHOULD CAPTURE THE WEIGHT OF THE RETURN PACKAGE.</h4>

              <p>RESIDENTIAL/OFFICE ADDRESS, DESTINATION ADDRESS, SHIPMENT DATE, AMOUNT AND OTHER DETAILS SHOULD BE MENTIONED.</p>
              <p>THE INFORMATION ON THE RECEIPT SHOULD NOT BE EDITED/OVER-WRITTEN.</p>
              <p>THE COURIER CHARGE (AMOUNT MENTIONED ON THE RECEIPT) SHOULD NOT OVERSHOOT THE SENDER-DESTINATION-SERVICE COMBINATION AND SHALL BE CROSS</p>
              <p>CHECKED WITH THE COURIER COMPANY.</p>
              <p>THIS IS SUBJECT TO YOUR RETURNS BEING INSPECTED AND SUCCESSFULLY PROCESSED UPON RECEIPT AT OUR END.</p>
              <p>WHY HAS MY RETURN REQUEST BEEN DECLINED?</p>
              <p>THIS MAY HAVE HAPPENED, IF THE ITEM YOU RETURNED IS USED, DAMAGED OR ORIGINAL TAGS ARE MISSING. FOR MORE DETAILS, PLEASE CALL OUR CUSTOMER CARE.</p>
              <p>WHY IS MY RETURNED PRODUCT RE-SHIPPED?</p>
              <p>THIS MAY HAVE HAPPENED, IF THE ITEM YOU HAVE RETURNED IS USED, DAMAGED OR ORIGINAL TAGS OR MRP TAGS ARE MISSING. FOR MORE DETAILS, PLEASE CALL OUR CUSTOMER CARE.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Section End -->
</main>
<!-- Main End -->
{% endblock web_content %}
