<!DOCTYPE html>
{% load static %}
<!-- Html start -->
<html lang="en">
    {% include 'web/includes/head.html' %}  
  <!-- Body Start -->
  <body>
    <!-- Main Start -->
    <div class="main">
      <section class="page-body p-0">
        <div class="row g-0 ratio_asos">
          <div class="order-2 order-lg-1 col-lg-5">
            <div class="content-box">
              <div>
                <h5>Forgot Password <span class="bg-theme-blue"></span></h5>
                <p class="font-md content-color">You will receive a password reset link on your email address.</p>
                {% include 'web/includes/alerts.html' %}
                <form action="{% url 'forgot_password' %}" method="POST" class="custom-form form-pill">
                    {% csrf_token %}
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" name="email" id="email" required>
                    </div>
                    <button type="submit" class="btn-solid rounded-pill line-none">Submit<i class="arrow"></i></button>
                    <a href="{% url 'login' %}" class="btn-solid rounded-pill line-none btn-outline mt-3 d-flex justify-content-center">Login<i class="arrow"></i></a>
                </form>
              </div>
            </div>
          </div>

          <div class="order-1 order-lg-2 col-lg-7">
            <div class="img-box">
              <img class="bg-img" src="{% static 'assets/images/inner-page/girl.png' %}" alt="banner" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Main End -->

    {% include 'web/includes/scripts.html' %}
  </body>

</html>
