<!DOCTYPE html>
{% load static %}
<!-- Html start -->
<html lang="en">
    {% include 'web/includes/head.html' %}  
  <!-- Body Start -->
  <body>
    <!-- Main Start -->
    <div class="main">
      <section class="page-body p-0">
        <div class="row g-0 ratio_asos">
          <div class="order-2 order-lg-1 col-lg-5">
            <div class="content-box">
              <div> 
                <h5>Reset Password <span class="bg-theme-blue"></span></h5>
                <p class="font-md content-color">Enter new password to reset your account.</p>
                {% include 'web/includes/alerts.html' %}
                <form action="{% url 'reset_password' %}" method="POST" class="custom-form form-pill">
                    {% csrf_token %}
                    <div class="input-box">
                        <label for="password">Password</label>
                        <div class="icon-input">
                            <input class="form-control" type="password" name="password" id="password" required>
                            <img class="showHidePassword" src="{% static 'assets/images/icon/eye.png' %}" alt="eye" />
                        </div>
                    </div>
                    <div class="input-box">
                        <label for="password">Confirm Password</label>
                        <div class="icon-input">
                            <input class="form-control" type="password" name="confirm_password" id="password" required>
                            <img class="showHidePassword" src="{% static 'assets/images/icon/eye.png' %}" alt="eye" />
                        </div>
                    </div>
                    <button type="submit" class="btn-solid rounded-pill line-none">Submit<i class="arrow"></i></button>
                </form>
              </div>
            </div>
          </div>

          <div class="order-1 order-lg-2 col-lg-7">
            <div class="img-box">
              <img class="bg-img" src="{% static 'assets/images/inner-page/girl.png' %}" alt="banner" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Main End -->
    <script src="{% static 'assets/js/password-showhide.js' %}"></script>
    {% include 'web/includes/scripts.html' %}
  </body>

</html>
