{% extends 'web/base.html' %}

{% load static %}

{% block head_section %}

<meta name="title" content="{{ blog.name }}" />
<meta name="description" content="{{ blog.meta_desc }}" />
<meta name="keywords" content="{{ blog.keywords }}" />
<meta name="author" content="" />
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
<title>{{ blog.name }}</title>
<meta property="article:published_time" content="{{ blog.created|date:'Y-m-d H:i:s' }}">
<meta property="article:modified_time" content="{{ blog.updated|date:'Y-m-d H:i:s' }}">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ blog.name }}">
<meta property="og:description" content="{{ blog.meta_desc }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ blog.name }}">
<meta name="twitter:description" content="{{ blog.meta_desc }}">
<meta name="twitter:image" content="https://theluxurypioneer.com/static/assets/images/logos/luxury-pioneer.png">
<meta name='robots' content='{{ blog.robots }}' />
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Article",
    "author": {
      "@type": "Organization",
      "name": "theluxurypioneer",
      "url": "{{ request.build_absolute_uri }}"
    },
    "headline": "{{ blog.name }}",
    "image": {
      "@type": "ImageObject",
      "url": "https://theluxurypioneer.com{{ blog.image.url }}"
    },
    "datePublished": "{{ blog.date|date:'Y-m-d' }}",
    "publisher": {
      "@type": "Organization",
      "name": "theluxurypioneer",
      "logo": {
        "@type": "ImageObject",
        "url": "https://theluxurypioneer.com/static/assets/images/logos/luxury-pioneer.png"
      }
    },
    "keywords": "{{ blog.keywords }}",
    "dateModified": "{{ blog.updated|date:'Y-m-d' }}",
    "mainEntityOfPage": "{{ request.build_absolute_uri }}"
  }
</script>
<style type="text/css">
  .content-box h3 { font-size: 14px; font-family: montserrat, sans-serif; font-weight: 500; } .content-box h2 { font-size: 22px; margin-bottom: 10px; margin-top: 30px; } .content-box { text-align: justify; font-family: montserrat, sans-serif !important; } .content-box { color: #3e3d3d !important; } .blog-detail a { color: #db9648 !important; } .blog-detail .content-box img { border: 1px solid #db9648; margin: 5px; }
</style>

{% autoescape off %}
{{ blog.schema|default_if_none:'' }}
{% endautoescape %}

{% endblock head_section %}

{% block web_content %}



<!-- Main Start -->

<main class="main">

    <!-- Breadcrumb Start -->

    <div class="breadcrumb-wrap">

      <div class="banner">

        <!--<img class="bg-img bg-top" src="{% static 'assets/images/inner-page/banner-p.jpg' %}" alt="banner" />-->



        <div class="container-lg">

          <div class="breadcrumb-box">

            <div class="heading-box">

              <h1>{{ blog.name }}</h1>

            </div>

            <ol class="breadcrumb">

              <li><a href="{% url 'home' %}">Home</a></li>

              <li>

                <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>

              </li>

              <li><a href="{% url 'blogs' %}">Blogs</a></li>

              <li>

                <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>

              </li>

              <li class="current"><a href="">{{ blog.name }}</a></li>

            </ol>

          </div>

        </div>

      </div>

    </div>

    <section>
        <div class="container-lg">
          <div class="row gy-5 g-lg-3 g-xxl-4">
            <div class="col-lg-3 order-3 order-lg-1 mb-5">
              <div class="sidebar-inner sticky">
                <div class="row g-3 g-lg-4">
                  <div class="col-sm-6 col-lg-12 order-3 order-lg-2">
                    <div class="sidebar-box">
                      <div class="title-box4">
                        <div class="heading">Recent Post <span class="bg-theme-blue"></span></div>
                      </div>
                      <div class="post-wrap">
                        {% for rb in rel_blogs %} 
                        <a href="{% url 'blog_details' rb.slug %}" class="post-box">
                          <img src="{{ rb.image.url }}" width="60" height="60" alt="{{ rb.image_alt }}" />
                          <div class="content-box">
                            <h3>{{ rb.name }}</h3>
                            <span>{{ rb.date }}</span>
                          </div>
                        </a>
                        {% endfor %} 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-9 order-1 order-lg-2 ratio_36">
              <div class="blog-wrap">
                <div class="blog-box blog-detail">
                  <div> 
                    {% if blog.image.url is not None %} 
                      <img src="{{ blog.image.url }}" width="100%" alt="{{ blog.image_alt }}" /> 
                    {% else %} 
                      <img src="assets/images/blogs/Blog Image_16_11_22-01.jpg" width="100%" alt="{{ blog.image_alt }}" /> 
                    {% endif %} 
                  </div>
                  <div class="content-box"> <span>
                    <i data-feather="clock"> </i>{{ blog.date }}</span>
                    <h2>{{ blog.name }}</h2> 
                    {% autoescape off %} {{ blog.content }} {% endautoescape %}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

    <!-- Blog Detail Section End -->

  </main>

  <!-- Main End -->

{% endblock web_content %}